@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

//Variables
$marbleBlue: #5e89ef;
$orange: #e78766;
$heroBg: #3e3e3e;
$navBg: #343434;
$navLinks: #f2fcff;
$circle: #f8dcd3;
$cardsBg: #957dad;

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", arial;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.nav-container {
  background-color: $navBg;

  a {
    color: $navLinks;
  }
}

header {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  align-items: center;

  .logo {
    color: $marbleBlue;
    font-weight: bold;
    font-size: 1.5em;
  }

  nav {
    width: 100%;
    margin-top: 1em;

    ul {
      display: flex;
      width: 100%;
      justify-content: space-between;

      a {
        display: block;
        padding: 0 1em;
      }
    }
  }
}

.social-header,
.hero-design {
  display: none;
}

.hero {
  background-color: $heroBg;
  color: white;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: flex;
  margin: 0 auto;
  width: 100%;
  font-weight: bold;
  color: $orange;

  span {
    margin-top: 1em;
    margin-right: 1em;
  }
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $circle;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: $marbleBlue;
  font-size: 0.85em;
}

.featured-title {
  color: #343434;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #3e3e3e;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background-color: $cardsBg;
}

.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;

  .icon-container {
    height: 100px;
    display: grid;
    place-items: center;
    margin: 0 auto;

    .one,
    .two,
    .three {
      width: 50px;
    }
  }

  .skill-title {
    font-weight: bold;
  }

  .featured-desc {
    margin-bottom: 2em;
  }
}

.portfolio {
  background-color: #f7f7f7;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
  header {
    .logo {
      font-size: 2em;
    }
    nav {
      ul {
        justify-content: space-evenly;

        a {
          font-size: 1.6em;
        }
      }
    }
  }

  .featured,
  .portfolio {
    text-align: left;
  }

  .featured,
  .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .left,
  .portfolio-left {
    display: grid;
    place-content: center;
  }

  .right {
    margin-left: 2em;
    margin-top: 1em;
  }

  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }

  .portfolio {
    padding-top: 7em;
  }

  .portfolio-container img {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }

  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;

    header {
      background-color: $navBg;
      flex-direction: row;
      padding: 2em;
      justify-content: space-between;

      .logo {
        font-size: 1.5em;
      }

      ul {
        width: auto;

        a {
          font-size: 1em;
        }
      }
    }
  }

  header {
    padding: 2em 2em 2em 4em;
  }

  .social-header {
    padding: 2em 4em 2em 0;
  }

  section {
    padding: 4em;
  }

  .social-header {
    display: block;

    ul {
      display: flex;
      justify-content: space-between;
      width: 7em;
      float: right;

      img {
        width: 20px;
      }
    }
  }

  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;

    .content {
      background-color: $heroBg;
      padding: 6em 8em 6em 4em;
      text-align: left;

      h1 {
        font-size: 3em;
        line-height: 1.2em;
      }
    }
  }

  .meet {
    margin: unset;
  }

  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }

  .portfolio img {
    float: right;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 0;
  }
  .social-header {
    padding: 2em 10em 4em 10em;
  }

  section {
    padding: 10em 8em 6em 10em;
  }

  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 0;
  }
  .social-header {
    padding: 2em 20em 4em 20em;
  }

  section {
    padding: 20em 8em 6em 20em;
  }

  .hero .content {
    padding: 6em 8em 6em 20em;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
  from {
    transform: translate(0px, 5px);
    z-index: 5;
  }
  to {
    transform: translate(0px, 18px);
  }
}
